<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<body>
<!-- 📌 Фрагмент модалки для выбора родственника -->
<div th:fragment="tagModal" class="modal fade" id="relativeTagModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{gallery.selectRelative}">Выберите родственника</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <select id="relativeSelect" class="form-select">
                    <option th:each="rel : ${relatives}"
                            th:value="${rel.id}"
                            th:text="${rel.firstName} + ' ' + ${rel.lastName}">
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                        th:text="#{button.cancel}">Отмена</button>
                <button type="button"
                        class="btn btn-primary"
                        onclick="saveTag()"
                        th:text="#{button.save}">Сохранить</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
